/*Import fonts*/
@font-face {
  font-family: "Windows Regular";
  src: url("../fonts/Windows_Regular.ttf");
}
/*Reset default values*/
body, header, nav, section, main, article, footer {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(7, 0, 200);
  font-family: "Windows Regular";
}

.startNavBar {
  position: fixed;
  z-index: 2;
  width: 100%;
  bottom: 0;
  border: 2px outset #f3f3f2;
  background-color: #c0c0c0;
  
}

.startNavBar button {
  font-size: 12px;
  margin: 2px 2px 0px 2px;
  border: 1px outset #f3f3f2;
  background-color: #c0c0c0;
  box-shadow: 0.5px 0.5px 0px 0.5px #090a0a;
  width: 48px;
  text-align: left;
  font-family: "Windows Regular";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

.startNavBar button:active {
  border: 1px inset #f3f3f2;
  background-color: #c0c0c0;
  box-shadow: inset 1px 1.75px 0px 0px #090a0a;
}

.startNavBar button:active span { 
  border: 1px dotted #090a0a;
  position: relative;
  margin-left: -3px;
  top: 1px;
  padding-left: 5px;
  padding-right: 4px;
  padding-top: -1px;
  font-size: 15px;
  
}


.startMenu {
  margin: 2px 2px 0px 0px;
  border: 1px outset #f3f3f2;
  background-color: #c0c0c0;
  position: fixed;
  z-index: 2;
  bottom: 26.5px;
  left: 0;
  height: 250px;
  width: 125px;
  background-color: #c3c7cb;
}

.banMenu {
  transform: rotate(-90deg);
  width: 100%;
  background-color: #0000aa;
}

.itemMenu {
  padding: 10px 0;
  vertical-align: center;
  margin: 0 2px;
}

.itemMenu:hover, .itemMenu:hover a {
  background-color: #0000aa;
  color: white;
}

.itemMenu a {
  /*display: none;*/
  color: black;
  text-decoration: none;
}