/*Start button*/
.startBtn {
  font-size: 12px;
  margin: 2px 2px 0px 2px;
  padding-left: 2px;
  border: 1px outset #f3f3f2;
  background-color: #c0c0c0;
  box-shadow: 0.5px 0.5px 0px 0.5px #090a0a;
  width: 58px;
  height: 25px;
  text-align: left;
  font-family: "Windows Regular";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.startBtn div {
  display: inline-flex;
  gap: 1px;
}

.startBtn img {
  width: 20px;
  height: auto;
  object-fit: contain;
}

/*When Start button is active*/
.startBtn:active {
  border: 1px inset #f3f3f2;
  background-color: #c0c0c0;
  box-shadow: inset 1px 1.75px 0px 0px #090a0a;
}

.startBtn:active div { 
  border: 0.8px dotted #090a0a;
  transform: translateY(1.3px) scale(0.95);

}