/*Each item on the Menu*/
.itemMenu {
  cursor: url("../win95-icons/cursor/Cursor_15.cur"), pointer;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

/*When passing the cursor below each item*/
.itemMenu:hover,
.itemMenu:active {
  background-color: #0000aa;
  color: white;
}