.window {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 250px;
  min-height: 250px;
  display: flex;
  background-color: var(--navbar-gray);
  margin: 2px 2px 0px 0px;
  box-shadow: 0.5px 0.5px 0px 0.5px #090a0a;
  border: 2px outset var(--light-gray);
  padding: 2px;
}

.window > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 30px;
  background-color: var(--dark-blue);
}

.window h1 {
  font-size: 14px;
  color: white;
}

.window > nav > header {
  margin-left: 3px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.window > nav > form > input,
.window > nav > form > button {
  padding: 0;
  line-height: 0;
  height: 20px;
  width: 20px;
  margin-left: -2px;
  border: 1px outset var(--light-gray);
  background-color: var(--navbar-gray);
  box-shadow: 0.5px 0.5px 0px 0.5px #090a0a;
}

.window > nav > form > input:active,
.window > nav > form > button:active {
  border: 1px inset var(--light-gray);
  background-color: var(--navbar-gray);
  box-shadow: inset 1px 1.75px 0px 0px #090a0a;
}

.window > nav > form > input {
  margin-right: 3px;
}


